/* 004489 -- blue
off white -- E1E1D6
grayish -- D3D9DF
brown 565656
lighter brown  989898
red E15119
*/


html {
	background: url("https://res.cloudinary.com/tech-stories/image/upload/c_scale,h_340/v1503364606/Screen_Shot_2017-08-21_at_8.49.22_PM_e6vica.png") 
	no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	background-size: cover;
}

body{
	color: #565656;
}
header {
	display: flex;
	justify-content: center;
}

.title {
	display: flex;
	align-items: center;
	width: 35%;
}

.words {
	margin: 30px;
	width: 60%;
	
}

.container {
	display: flex;
	justify-content: center;
	align-content: center;

}

.icon {
	height: 80px;
	width: 80px;
	margin: 20px;
}

.location {
	font-size: 14px;
}

footer {
	display:flex;
	align-content: center;
	position: absolute;
	bottom: 0;
	font-color: #E1E1D6;
	width: 80%;
}